<div [style.background-color]="bgColor" [style.display]="'grid'" class="m-3">
  <form class="m-2">
    <h3>Login</h3>
    <div class="form-group">
      <label for="userName" >Username:</label>
      <input type="userName" [(ngModel)]="userName" class="form-control" name="userName" #userNameField (ngModelChange)="valuechange($event)">
      <div *ngIf = "displayMsg">
        <strong [ngClass]="{error:displayUsers, valid:!displayUsers}">{{verifyMsg}}</strong>
        <ul *ngIf = "displayUsers">
            <li *ngFor = "let user of availableUsers">{{user.userName}}</li>
        </ul>
      </div>
      <button class="btn btn-secondary mt-2" (click)="toggleVerify(userNameField.value)">{{verifyText}}</button>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" [(ngModel)]="pwd" class="form-control" name="pwd" #pwdField>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" [(ngModel)]="remember" name="remember"> Remember me</label>
    </div>
    <div *ngIf = "invalidForm" class="error m-2"><strong>{{validationMsg}}</strong></div> 
    <button type="submit" class="btn btn-primary m-2" (click)="onLogin(userNameField.value, pwdField.value)">Login</button> 
    <button class="btn btn-danger m-2" (click)="registerUser(userNameField.value, pwdField.value)">Register</button>
    <button class="btn btn-secondary m-2"  type="reset">Reset</button>
  </form>
</div>
<div appChangeColor [style.background-color]="bgColor" [style.display]="'block'" class="m-3">
  <label class="control-label col-sm-2">Name :</label><label  class="col-sm-10">{{userName | initcap}}</label>
  <label class="control-label col-sm-2">Remember :</label><label  class="col-sm-10">{{remember}}</label>
</div>
