
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">HueDroid</span>
    <a class="navbar-brand acitve" routerLink="/login">Login</a>
    <a class="navbar-brand acitve" routerLink="/home">Home</a>
    <a class="navbar-brand acitve" routerLink="/rest">Rest</a>
    <a class="navbar-brand acitve" routerLink="/animation">Animation</a>
    <button class="btn btn-success m-2" placement="bottom" ngbTooltip="Click to increase the Count" (click)="counter()">Counter
        <span class="badge badge-light">{{count}}</span></button>
  </nav>
